@*Navigation Bar*@
<!DOCTYPE html>
<html lang="en">
<head>

    @*<title>Example of Bootstrap 3 Static Navbar</title>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/content/site.css" rel="stylesheet" />


    @*<title>Bootstrap Thumbnail Carousel with Content</title>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="bs-example">
        @*<a href="#" class="navbar-brand"></a>*@
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img src="~/content/copy of logowardrobe.png" />
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/DressesTables/Index">Dresses</a></li>
                    <li><a href="/TopsTables/Index">Tops</a></li>
                    <li><a href="/BottomsTables/Index">Bottoms</a></li>
                    <li><a href="/SwimTables/Index">Swim</a></li>
                    <li><a href="/ShoesTables/Index">Shoes</a></li>
                    <li><a href="/AccessTables/Index">Accessories</a></li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    @*Carousel with thumbnails

        https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=thumbnail-carousel-with-content*@

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-center m-auto">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="thumb-content">
                                            <img src="~/content/reddress.jpg" />
                                            <a href="/DressesTables/Index" class="btn btn-primary">Dresses</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="thumb-content">
                                            <img src="~/content/pinkshirtwithpolkadots.jpg" />
                                            <a href="/TopsTables/Index" class="btn btn-primary">Tops</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="thumb-content">
                                            <img src="~/content/pinkskirtwithcastle.jpg" />
                                            <a href="/BottomsTables/Index" class="btn btn-primary">Bottoms</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="thumb-content">
                                            <img src="~/content/redswimsuitwhiledots.jpg" />
                                            <a href="/SwimTables/Index" class="btn btn-primary">Swim</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="thumb-content">
                                            <img src="~/content/blackwithcherry.jpg" />
                                            <a href="/ShoesTables/Index" class="btn btn-primary">Shoes</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="thumb-content">
                                            <img src="~/content/blackcatglasses.jpg" />
                                            <a href="/AccessTables/Index" class="btn btn-primary">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
        <row footer>
            <h5>&copy; @DateTime.Now.Year - Teresa M Johnson</h5>
        </row>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>  
</html>




