@model GoVintage.Models.DressesTable

@{
    ViewBag.Title = "Details";
}

<h1>Dress Details</h1>

<row class="dressesdetails col-sm-6 col-md-4">
    <h1>@Html.DisplayFor(modelItem => Model.DressesName)</h1>
    <div img src=@Url.Content(Model.DressesPhoto) width="220" height="400" />
    <h1>Details</h1>
    <li>@Html.DisplayNameFor(model => model.DressesType)  :  @Html.DisplayFor(model => model.DressesType)</li>
    <li>@Html.DisplayNameFor(model => model.DressesColor)  :  @Html.DisplayFor(model => model.DressesColor)</li>
    <li> @Html.DisplayNameFor(model => model.DressesSeason)  :  @Html.DisplayFor(model => model.DressesSeason)</li>
    <li> @Html.DisplayNameFor(model => model.DressesOccasion)  :  @Html.DisplayFor(model => model.DressesOccasion)</li>
</row>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DressesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
