@model GoVintage.Models.SwimTable

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<row class="swimdetails col-sm-6 col-md-4">
    <h1>@Html.DisplayFor(modelItem => Model.SwimName)</h1>
    <div img src="@Url.Content(Model.SwimPhoto)" width="220" height="400" />
    <h1>Swim Details</h1>
    <li>@Html.DisplayNameFor(model => model.SwimType)  :  @Html.DisplayFor(model => model.SwimType)</li>
    <li>@Html.DisplayNameFor(model => model.SwimColor)  :  @Html.DisplayFor(model => model.SwimColor)</li>
    <li> @Html.DisplayNameFor(model => model.SwimSeason)  :  @Html.DisplayFor(model => model.SwimSeason)</li>
    <li> @Html.DisplayNameFor(model => model.SwimOccasion)  :  @Html.DisplayFor(model => model.SwimOccasion)</li>
</row>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SwimTableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
