@model GoVintage.Models.SwimTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SwimTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SwimName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimOccasion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SwimTableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
