@model IEnumerable<GoVintage.Models.SwimTable>

@{
    ViewBag.Title = "Index";
}

<h2>Swim</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> @Html.DisplayNameFor(model => model.SwimName)</h3>
                    <img src="@Html.DisplayFor(modelItem => item.SwimPhoto)" />
                    <p>@Html.DisplayNameFor(model => model.SwimPhoto)</p>
                </div>

            @Html.ActionLink("Edit", "Edit", new { id = item.SwimTableID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SwimTableID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SwimTableID })

            </div>
        </div>
    }
</div>





@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SwimName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwimPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwimType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwimColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwimSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwimOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SwimName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwimPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwimType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwimColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwimSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwimOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SwimTableID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SwimTableID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SwimTableID })
        </td>
    </tr>
}

</table>*@
