@model IEnumerable<GoVintage.Models.SwimTable>

@{
    ViewBag.Title = "Index";
}

<h2>Swim</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.SwimName)</h3>
                    <img src="@Url.Content(item.SwimPhoto)" />  
                </div>

            @Html.ActionLink("Edit", "Edit", new { id = item.SwimTableID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SwimTableID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SwimTableID })

            </div>
        </div>
    }
</div>



