@model IEnumerable<GoVintage.Models.TopsTable>

@{
    ViewBag.Title = "Index";
}

<h2>Tops</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> @Html.DisplayNameFor(model => model.TopsName)</h3>
                    <img src="@Html.DisplayFor(modelItem => item.TopsPhoto)" />
                    <p>@Html.DisplayNameFor(model => model.TopsPhoto)</p>
                </div>
                @Html.ActionLink("Edit", "Edit", new { id = item.TopsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TopsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TopsID })
            </div>
        </div>
    }
</div>


@*@Html.ActionLink("Edit", "Edit", new { id = item.TopsID }) |
@Html.ActionLink("Details", "Details", new { id = item.TopsID }) |
@Html.ActionLink("Delete", "Delete", new { id = item.TopsID })
      
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopsPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopsType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopsColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopsSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopsOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopsPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopsType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopsColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopsSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopsOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopsID })
        </td>
    </tr>
}

</table>*@
