@model GoVintage.Models.BottomsTable

@{
    ViewBag.Title = "Details";
}

<h1>Bottoms Details</h1>

<row class="bottomsdetails col-sm-6 col-md-4">
    <h1>@Html.DisplayFor(modelItem => Model.BottomsName)</h1>
    <div img src="@Url.Content(Model.BottomsPhoto)" width="220" height="400" />
    <h1>Details</h1>
    <li>@Html.DisplayNameFor(model => model.BottomsType)  :  @Html.DisplayFor(model => model.BottomsType)</li>
    <li>@Html.DisplayNameFor(model => model.BottomsColor)  :  @Html.DisplayFor(model => model.BottomsColor)</li>
    <li> @Html.DisplayNameFor(model => model.BottomsSeason)  :  @Html.DisplayFor(model => model.BottomsSeason)</li>
    <li> @Html.DisplayNameFor(model => model.BottomsOccasion)  :  @Html.DisplayFor(model => model.BottomsOccasion)</li>
</row>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
