@model IEnumerable<GoVintage.Models.BottomsTable>

@{
    ViewBag.Title = "Index";
}

<h1>Bottoms</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                        <h1>@Html.DisplayFor(modelItem => item.BottomsName)</h1>
                        <img src="@Url.Content(item.BottomsPhoto)" />  
                    </div>

                @Html.ActionLink("Edit", "Edit", new { id = item.BottomsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BottomsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BottomsID })

            </div>
        </div>
    }
</div>
