@model GoVintage.Models.ShoesTable

@{
    ViewBag.Title = "Details";
}

<h1>Shoes Details</h1>

    <row class="shoesdetails col-sm-6 col-md-4">
        <h1>@Html.DisplayFor(modelItem => Model.ShoesName)</h1>
        <div img src="@Url.Content(Model.ShoesPhoto)" width="220" height="400" />
        <h1>Details</h1>
        <li>@Html.DisplayNameFor(model => model.ShoesType)  :  @Html.DisplayFor(model => model.ShoesType)</li>
        <li>@Html.DisplayNameFor(model => model.ShoesColor)  :  @Html.DisplayFor(model => model.ShoesColor)</li>
        <li> @Html.DisplayNameFor(model => model.ShoesSeason)  :  @Html.DisplayFor(model => model.ShoesSeason)</li>
        <li> @Html.DisplayNameFor(model => model.ShoesOccasion)  :  @Html.DisplayFor(model => model.ShoesOccasion)</li>
    </row>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ShoesID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
