@model IEnumerable<GoVintage.Models.ShoesTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.ShoesName)</h3>
                    <img src="@Url.Content(item.ShoesPhoto)" />  
                </div>

                @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShoesID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })

            </div>
        </div>
    }
</div>
